<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

	<div th:fragment="bottom-script">
	<div class="fixed-bottom">
		<!-- Footer -->
		<footer class="py-5 bg-dark " >
			<div class="container">
				<p class="m-0 text-center text-white">Copyright &copy; Your
					Website 2019</p>
			</div>
			<!-- /.container -->
		</footer>
		</div>
		<!-- Bootstrap core JavaScript
================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
<script src="../static/jquery/jquery.min.js" th:src="@{/jquery/jquery.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.js}"></script>
<script src="../static/js/bootstrap-datepicker.min.js" th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script src="../static/locales/bootstrap-datepicker.hr.min.js" th:src="@{/locales/bootstrap-datepicker.hr.min.js}"></script>
<script src="../static/js/warehouses.js" th:src="@{/js/warehouses.js}"></script>
</div>

</body>
</html>