// Template

////
/// Body
//
body {
	font-family: $font-primary;
	background-color: $white;
	color: $body-color;

	// Sizing box model
	* {
		box-sizing: border-box;
		outline: none;
	}

	// Anchors
	a {
		color: currentColor;
		text-decoration: none;

		&:hover {
			cursor: pointer;
		}
	}

	// SVG
	svg {
		width: auto;
		height: 100%;
	}
}

////
/// Asset-overview
//
.container {
	display: flex;
	height: 100vh;

	// Sidebar
	.sidebar {
		width: $sidebar-width;
		height: 100vh;
	}
	
	// Content container
	.content-container {
		background-color: grey(100);
		flex: 1;
	}

	// Page content
	.page-content {
		width: calc(100vw - #{$sidebar-width});
		padding: $size-30 $size-30;
	}

	// Content
	.content {
		display: flex;
		flex-direction: column;
	}
}

