.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS FILES
.DS_Store

# PROJECT ASSETS
_materijali
_radno
_assets

# PROJECT & WORKSPACE FILES
*.sublime-project
*.sublime-workspace

# NODE.JS
node_modules

# BOWER
bower_components

# SASS
.sass-cache

# Class files
*.class
