<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Aplikacija za praktični dio diplomskog rada">
	<meta name="author" content="Tomislav Krivanek">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Skladišta</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link href="../static/css/warehouse.css" rel="stylesheet" th:href="@{/css/warehouse.css}" />
	<link href="../static/css/bootstrap-datepicker3.css" rel="stylesheet" th:href="@{/css/bootstrap-datepicker3.css}" />
	<link href="../static/css/core-style.css" rel="stylesheet" th:href="@{/css/core-style.css}" />

</head>

<body>
    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

    <div th:replace="fragments/navbar :: navbar"></div>

        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                      <img src="img/bg-img/1.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Od 50 HRK</p>
                            <h4>Privatna skladišta</h4>
                        </div>
                    
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/bg-img/2.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Od 75 HRK</p>
                            <h4>Privatna skladišta</h4>
                        </div>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/bg-img/3.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Od 200 HRK</p>
                            <h4>Komercijalno skladište</h4>
                        </div>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/bg-img/4.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Od 300 HRK</p>
                            <h4>Komercijalno skladište s klimatizacijom</h4>
                        </div>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/bg-img/5.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Od 150</p>
                            <h4>Privatna skladišta s klimatizacijom</h4>
                        </div>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/bg-img/6.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Od 200 HRK</p>
                            <h4>Privatno za upotrebu</h4>
                        </div>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/bg-img/7.jpg" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>Od 300 HRK</p>
                            <h4>Komercijalno skladište s klimatizacijom</h4>
                        </div>
                </div>

<!--                 Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/bg-img/8.jpg" alt="">
<!--                         Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                             <p>Od 300 HRK</p>
                            <h4>Komercijalno skladište s klimatizacijom</h4>
                        </div>
                </div>

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <img src="img/bg-img/9.jpg" alt="">
<!--                         Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                             <p>Od 150 HRK</p>
                            <h4>Privatna skladišta</h4>
                        </div>
                </div>
            </div>
        </div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

   <div th:replace="fragments/footer :: footer"></div>

</body>

</html>