<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common/header :: shared-header" />

</head>
<body>

	<div th:replace="common/navbar :: navbar-group (userId=${user.id})" /></div>
	<div class="container">
		<!-- Page Content -->
		<br>
		<div th:if="${not #lists.isEmpty(warehouses.content)}"
			class="col-lg-9 addPadding">

			<table class="table table-hover">
				<tr>
					<th>Vrsta</th>
					<th>Ime</th>
					<th>Volumen</th>
					<th>Adresa</th>
					<th>Dnevna cijena (HRK)</th>
					<th>
						<a class="btn btn-info btn-sm" th:href="@{/createWarehouse}">
							Dodaj skladište </a>
					</th>
				</tr>
				<tr th:each="warehouse, iStat : ${warehouses}"
					th:style="${iStat.odd}? 'font-weight: bold;'"
					th:alt-title="${iStat.even}? 'even' : 'odd'">
					<td th:text="${warehouse.warehouseTypeName}" />
					<td th:text="${warehouse.name}" />
					<td th:text="${warehouse.volume}" />
					<td th:text="${warehouse.address}" />
					<td th:text="${warehouse.dailyPrice}" />
					<td>
						<button type="button" class="btn btn-danger btn-sm" th:data-warehouse-id="${warehouse.id}"
							data-toggle="modal" data-target="#confirmDeleteModal">Obriši</button>
					</td>
					<td>
						<a class="btn btn-info btn-sm"
							th:href="@{/findWarehouse(warehouseId=${warehouse.id})}">
							Uredi </a>
					</td>
					<td>
						<a class="btn btn-info btn-sm"
							th:href="@{/rentWarehouse(warehouseIds=${warehouse.id})}">
							Unajmi</a>
					</td>
				</tr>
			</table>
			<hr />
			<ul class="nav nav-pills">
				<li class="nav-item"
					th:each="i : ${#numbers.sequence(0,warehouses.totalPages-1)}">
					<a th:href="@{${#httpServletRequest.requestURI}(page=${i})}"
						th:text="${i+1} " class="nav-link"
						th:classappend="${currentPage}==${i}?'active' : ''"></a>
			</ul>
		</div>
		<div th:if="${#lists.isEmpty(warehouses.content)}"
			class="col-lg-9 addPadding">
			<p class="addPadding">Nema rezultata</p>
		</div>

		<div id="confirmDeleteModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id="deleteWarehouseForm" th:action="@{/deleteWarehouse}"
						th:method="DELETE">
						<div class="modal-header">
							<h4 class="modal-title" id="modalTitle">Brisanje skladišta</h4>
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
						</div>
						<div class="modal-body">
							<p th:text="'Jeste sigurni da želite obrisati ovo skladište?'"></p>
							<input type="hidden" id="warehouseId" th:id="warehouseId"
							th:name="warehouseId" />
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" data-dismiss="modal"
								value="Otkaži">
							<input type="submit" class="btn btn-danger" value="Potvrdi">
						</div>
					</form>
				</div>
			</div>
		</div>


	</div>
	<!-- /container -->
	<div th:replace="common/footer :: bottom-script" ></div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>