<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Aplikacija za praktični dio diplomskog rada">
    <meta name="author" content="Tomislav Krivanek">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Skladišta</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link href="../static/css/warehouse.css" rel="stylesheet" th:href="@{/css/warehouse.css}" />
    <link href="../static/css/bootstrap-datepicker3.css" rel="stylesheet" th:href="@{/css/bootstrap-datepicker3.css}" />
    <link href="../static/css/core-style.css" rel="stylesheet" th:href="@{/css/core-style.css}" />

</head>


<body>
    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <div th:replace="fragments/navbar :: navbar"></div>

        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                            <!-- Total Products -->
                            <div class="total-products">
                                <p th:if="${notRented}">Slobodna skladišta</p>
                                <p th:if="${not notRented}">Sva skladišta</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Single Product Area -->
                    <div class="col-12 col-sm-6 col-md-12 col-xl-6" th:if="${not #lists.isEmpty(warehouses.content)}"
                        th:each="warehouse, iStat : ${warehouses}">
                        <div class="single-product-wrapper">
                            <!-- Product Image -->
                            <div class="product-img">
                                <a th:href="@{/rentWarehouse(warehouseId=${warehouse.id})}">
                                    <img src="img/product-img/product1.jpg" alt="">
                                    <!-- Hover Thumb -->
                                    <img class="hover-img" src="img/product-img/product2.jpg" alt="">
                                </a>
                            </div>

                            <!-- Product Description -->
                            <div class="product-description d-flex align-items-center justify-content-between">
                                <!-- Product Meta Data -->
                                <div class="product-meta-data">
                                    <div class="line"></div>
                                    <p class="product-price" th:text="${warehouse.dailyPrice + ' HRK'}"></p>
                                    <a th:href="@{/rentWarehouse(warehouseId=${warehouse.id})}">
                                        <h6 th:text="${warehouse.name}"></h6>
                                    </a>
                                    <a th:href="@{/rentWarehouse(warehouseId=${warehouse.id})}">
                                        <h6 th:text="${'Vrsta: ' + warehouse.warehouseTypeName}"></h6>
                                    </a>
                                </div>
                                <!-- Ratings & Cart -->
                                <div class="ratings-cart text-right">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="cart" th:if="${not notRented}">
                                        <a th:href="@{/findWarehouse(warehouseId=${warehouse.id})}"
                                            data-toggle="tooltip" data-placement="left" title="Uredi skladište"><img
                                                src="img/core-img/edit.png" alt=""></a>
                                        <p th:text="${warehouse.warehouseStatusName}"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-12">
                        <!-- Pagination -->
                        <nav aria-label="navigation">
                            <ul class="pagination justify-content-end mt-50">
                                <li class="page-item" th:each="i : ${#numbers.sequence(0,warehouses.totalPages-1)}" th:classappend="${currentPage}==${i}?'active' : ''">
                                <a class="page-link" th:href="@{${#httpServletRequest.requestURI}(page=${i})}" th:text="${i+1}"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

<div th:replace="fragments/footer :: footer"></div>

</body>

</html>